<p>Please Signup Below</p>


<form action="/signup" method="POST">
  <input input="text" name="username" id="username" placeholder="username"><br>
  <br>
  <input input="text" name="email" id="email" placeholder="email address"><br>
  <br>
  <input input="text" type="password" name="password" id="password" placeholder="password"><br>
  <br>
  <input type="submit" value="Create Account">
</form>
