<h3>Please Login</h3>
<form action="/login" method="POST">
<input input="text" name="username" id="username" placeholder="username"><br>
<input input="text" type="password" name="password" id="password" placeholder="password"><br>
<br>
<input type="submit" value="submit">
    </form>

<h3><a href="/signup">Create a new account</a></h3>
