<h1>Hello <%= @current_user.username %></h1>
<br>
<ul>
<li><p> What would you like to do?</p></li>
<li><p><a href="/wines"> View Wines</a></p></li>
<li><p><a href="/wines/new"> Add a wine</a></p></li>
<li><p><a href="/logout"> Logout</a></p></li>
</ul>
