<h1>Welcome to Vin Tracker</h1>
<br>

<p>Please Login or Create an Account</p><br>
<br>
<form action="/login" method="GET">
  <input type="submit" value="Login">
</form>
<br>
<form action="/signup" method="GET">
  <input type="submit" value="Create and Account">
</form>
