<h1>Hey.</h1>

<br>
<h1>Wine?</h1>
<br>
<p>A place to share your favorite types of wine with your friends.</p>
<p>Login or Create an Account</p><br>
<br>
<form action="/login" method="GET">
  <input type="submit" value="Login">
</form>
<br>
<form action="/signup" method="GET">
  <input type="submit" value="Create an Account">
</form>
