<form action="/wines" method="POST">
  <input type="text" name="name" id="name">
  <input type="submit" value="Add Wine" onclick="msg()">
</form>
<script>
function msg() {
    alert("mmm.. That sounds delicious!");
}
</script>
