<h1>Your Favorite Wines</h1>
<br>
<ol>
<% Wine.all.each do |wine| %>
  <li><a href="/wines/<%= wine.id %>"><%= wine.name %></a></li>
  <% end %>
</ol>
<br>

<p><a href="/users/<%= current_user.id %>">Back to My Profile</a></p>
