<h1>Your Favorite Wines</h1>
<br>
<% Wine.all.each do |wine| %>
<ol>
  <li><a href="/wines/<%= wine.id %>"><%= wine.name %></a></li>
  <% end %>
</ol>
<br>
<p><a href="/logout"> Logout</a></p><br>
<p><a href="/wines/new"> Add a wine</a></p>
